main {
  padding: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.photo-card {
  flex-basis: calc((100% - 30px) / 4);
}

.info {
  display: flex;
  justify-content: space-around;
  border: 1px solid #eee;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
  border-top: none;
}
.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.load-more {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 25px;
  background-color: #0a0a23;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 15px;
  min-height: 30px;
  min-width: 120px;
}
